  <div class="row" style="margin:15px 0 0 0;">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="tab-pane active">
          <table class="table table-condensed table-hover paths">
            <thead>
              <tr>
                <th>ID</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Total Size (MB)</th>
                <th>Remain Volume (MB)</th>
                <th>Current Speed (kbps)</th>
                <th>Rate Limit (kbps)</th>
              </tr>
            </thead>
            <tbody>
              {{#each tasks}}
              <tr>
                <td>{{id}}</td>
                <td>{{source}}</td>
                <td>{{destination}}</td>
                <td>{{size}}</td>
                <td>{{remain}}</td>
                <td>{{speed}}</td>
                <td>{{limit}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
